body{
	margin: 0;
	font-family: "微软雅黑"
}
#zhanchang{
	width: 800px;
	height: 600px;
	border:2px solid #8CD538;
	background-color: white;
	margin: 50px auto;
	border-radius: 5px;
	background-image: url(../images/dd.jpg);
	box-shadow: 0 0 15px black;
	background-size: cover;
}
.block{
	border-radius:3px;
	float: left;
	margin: 0 1px 1px 0;
}
#play{
	width:150px;
	height: 50px;
	position: absolute;
	top:200px;
	left:80px;
	border-radius: 20px;
	background-color: rgba(139,195,74,0.6); 
	text-align: center;
	line-height: 50px;
	font-size: 3em;
	font-family: "方正康体繁体";
	cursor: pointer;
}
#zhanting{
	width:150px;
	height: 50px;
	position: absolute;
	top:300px;
	left:80px;
	border-radius: 20px;
	background-color: rgba(139,195,74,0.6); 
	text-align: center;
	line-height: 50px;
	font-size: 3em;
	font-family: "方正康体繁体";
	cursor: pointer;
}
.xuan{
	width: 150px;
	height:30px;
	position: absolute;
	top:400px;
	left: 80px; 
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	font-family: "方正康体繁体";
	background-color: rgba(139,195,74,0.6);
	border-radius: 20px; 
}